*, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    margin: 0px;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* HERO */

.hero {
    background-image: url(https://www.japan-guide.com/g17/home_1712_fujisan.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 30rem;
}

.hero_img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    position: absolute;
    left: -70%;
    
}

.menu_bar {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.hero_wrap {
    display: flex;
    height: 100%;
    align-items: center;
    
}
.hero_story {
    margin: 50px;
    color: white;
}

/* Stories hieronder */

.stories {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.topstory {
    padding: 0.2rem;
    margin: 0.5rem;
    display: inline-block;
    position: relative;
}

.topstory_img {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.topstory_wrapper {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.topstory_header {
    color: white;
    font-weight: 900;
    font-size: 2rem;
    margin: 0.2rem 0rem;
}

.topstory_sub {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    margin: 0.2rem 0rem;
}

.stories_header {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: lightgrey;
    font-weight: 700;
    margin-left: 0.8rem;
}

.stories_header::before {
    content: "";
    width: 0.2rem;
    position: absolute;
    
    height: 0.6rem;
}

.sponsored::before {
    background: green;
}

.story {
    padding: 0.2rem;
    margin: 0 0.5rem;
    display: flex;
    border-bottom: 1px solid lightgrey;
}

.story_img {
    max-width: 35%;
    object-fit: cover;
    flex: 1 1 auto;
    padding-right: 0.5rem;
}

.story_hgroup {
    flex: 3 1 auto;
}

.stories_footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem 2rem 0.5rem;
}

.bold_link {
    text-transform: uppercase;
    color: darkred;
    font-weight: 700;
    font-size: 0.8rem;
}

.last_link {
    text-transform: uppercase;
    color: darkred;
    font-size: 0.8rem;
}
